.skills{
background: rgba(1, 9, 28, 0.75);
border-radius: 10px;
margin: 75px 15%;
padding: 25px;
filter: drop-shadow(0px 4px 4px rgba(0,0,0.25, 0.25));
}
.skills img{
    height: 120px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0.25, 0.25));
    margin: 25px;
    transition-duration: 1s;
}

.skills img:hover{
    transform: translateY(-8px);
    transition-duration: 1s;
    
}


.skills h1{
    font-size: 40px;

}

.skills p{
    font-size: 15px;
}

